extends layout

block content
  h1= title
  p This site was born out of an unnatural love of the phrase 'Seth Smith Scores' or 'Seth Smith Singles'. Wanting to find a way to be alerted every time that happens, I discovered that many other Mariner related events could be alliterative.  
  p Follow us on Twitter: 
   a(href="https://twitter.com/MsAlliterations") @MsAlliterations 
  p Or follow me on Twitter if your into system administraion type stuff: 
   a(href="https://twitter.com/TheDevOpsLife") @TheDevOpsLife 
