body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFF;
  background: #075C5B;
}

a {
  color: #FFF;
}

#header {
  padding: 50px 40px;
  background: #022E55;
  border-bottom: 5px solid #FFF;
}

#header h1 {
  display: inline;
}

#nav {
  display: inline;
}

#nav ul {
  display: inline;
}

#nav ul li {
  display: inline;
  padding-right: 20px;
}

#content {
  margin: 50px 40px;
  padding: 20px;
  background: #FFF;
  color: #000;
}

ul#alliterations {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

ul#alliterations li {
  padding: 25px 0px 25px 5px;
  border-bottom: 2px solid black;
}

form input[type=text], form input[type=password] {
  height: 30px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}

form input[type=submit] {
  display: block;
  padding:5px 15px;
  border:1px solid #000;
  cursor:pointer;
  height: 35px;
  font-size: 18px;
}
